/*Download block*/

.download-block {
    display: flex;
    padding-top: 150px;
}

@media screen and (max-width: 1024px) {
    .download-block{
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
    }
}

.download-info {
    min-width: 360px;
    margin-bottom: 35px;
    margin-top: 25px;
}

.download-hr{
    width:13%;
    text-align:left;
    margin-left:0;
    border: none;
    border-top: 2px solid black;
    margin-bottom: 35px;
}

.download-title{
    width: 230px;
    margin-bottom: 35px;
    font-size: 25px;
}

.btn-download {
  background-color: white;
  color: #458FF6;
  border: 2px solid #458FF6; 
  width: 200px;
  height: 56px;
  border-radius: 30px;
}

.btn-download:hover {
    background-color: #458FF6; 
    color: white;
}

.dwn-img {
    margin-left: 9px;
}

.dot-img{
    height: 110px;
    width: 120px;
    float: right;
}

.download-text{
     margin-bottom: 35px;
     width: 360px;
}

@media screen and (max-width: 1024px) {
    .download-title {
        width: 343px;
        font-size: 47px;
    }

    .download-text {
        width: 600px;
        font-size: 25px;
    }
}

.download-image img{
    width: 665px;
    height: 434px;
}
