@import "./normalize.min.css";

@import "./globals.css";

/*Headers */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.header-block {
    display: flex;
}

.header-item {
    font-size: 15px;
    margin-right: 60px;
}
p{
    opacity: 0.5;
    color: #1F1534;
}

.heaader-link {
    text-decoration: none;
}

.header-block a:link{
    text-decoration: none;
}

.header-block a:hover{
    color: black;
    font-weight:bold;
    text-decoration: none;
}

.item-home{
    font-weight:bold;
}

.item-home:hover{
    color: #458FF6;
}

/*Download block*/
.download-image img{
    width: 665px;
    height: 434px;
}

.download-block {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
}

.download-info {
    min-width: 360px;
    margin-bottom: 35px;
    margin-top: 25px;
}

.download-hr{
    width:13%;
    text-align:left;
    margin-left:0;
    border: none;
    border-top: 2px solid black;
    margin-bottom: 35px;
}

.download-title{
    width: 230px;
    margin-bottom: 35px;
}

.btn-download {
  background-color: white;
  color: #458FF6;
  border: 2px solid #458FF6; 
  width: 200px;
  height: 56px;
  border-radius: 30px;
}

.btn-download:hover {
    background-color: #458FF6; 
    color: white;
}

.dwn-img {
    margin-left: 9px;
}

.dot-img{
    height: 110px;
    width: 120px;
    float: right;
}

.download-text{
     margin-bottom: 35px;
     width: 360px;
}

/*Cards block*/

.check-title h1{
    text-align:center;
    margin-top: 211px;
  }

.hr-check{
    width:4%;
    text-align:center;
    border: none;
    border-top: 2px solid black;
    margin-bottom: 35px;
}

.cards-block {
    display: flex;
    min-width: 350px;
    margin-bottom: 50px;
    margin-top: 60px;
}

.card-block {
    box-shadow: rgba(194, 201, 209, 0.2) 5px 9px 24px;
    border-radius: 30px;
    margin-right: 70px;
    background-color: white;
}

.block-text {
    text-align: left;
    padding: 15px 71px 15px 34px;
    max-width: 230px;
}

.card-description {
    width: 240px;
    margin-bottom: 40px;
}

.card-link {
    border: none;
    color: #458FF6;
}

.block-text a:hover{
    color: rgb(21, 9, 81);
    font-weight: bold;
}

.crd-img {
    margin-left: 9px;
}

.backround-img {
    
    background-image: url(../images/background-cards.png);
    background-position: right 70px;
    background-repeat: no-repeat;
    height: 600px;
    margin-top: 150px;
    
} 

.block-btn-view {
    display: flex;
    justify-content: center;
}

/* Customer block */

.customer-info {
    height: 425px;
    width: 1120px;
    margin-top: 140px;
    margin-bottom: 200px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 30px;
}

.customer-block {
    background: #F3F8FE;
    height: 770px; 
    margin-top: 200px;
   
}

.customer-title{
    text-align:center;
    padding-top: 75.5px;
    color: white;
}

.customer-hr{
    width:4%;
    text-align:center;
    border: none;
    border-top: 2px solid white;
    margin-bottom: 35px;
}

.customer-img {
    margin: 30px 40px 0 130px;
    border-radius: 50%;
}

.customer{
    display: flex;
}

.customer-inf{
    margin-right: 130px;
    margin-top: 50px;
    color: white
}

.customer-text{
    color: white;
}

.customer-inf p{
    opacity: 0.9;
}

.customer-speech{
    width: 331px;
    margin-top: 50px;
    color: white;
    line-height: 160%;
}

.customer p{
    opacity: 0.9;
}

.cs-img{
    display: flex;
    justify-content: center;
    margin-top: -150px;
}

/* Footer block */

.footer-block{
    height: 153px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    display: flex;
    justify-content: space-between;
}

.footer-link-block{
    display: flex;
    margin-right: 200px;
}

.footer-item {
    font-size: 20px;
    margin: 70px;
}

.footer-item a{
    color: white;
}

.footer-link {
    text-decoration: none;
}

.footer-block a:link{
    text-decoration: none;
}

.footer-block a:hover{
    color: black;
    font-weight:bold;
    text-decoration: none;
}

.footer-logo{
    margin-left:-200px;
    margin-top: 70px;
}
.dot-foot-img{
    height: 90px;
    width: 100px;
    margin-top: 60px;
}